IBABS_AUTHORIZE_URL=https://signon.ibabs.eu/OAuth/Authorize
IBABS_LOGIN_URL=https://signon.ibabs.eu/Login
IBABS_CLIENT_ID=A5D450B5-D6C3-4C75-8BEF-665152DBD455
IBABS_REDIRECT_URI=https://portal.ibabs.eu/signin-iBabs
IBABS_PORTAL_URL=https://portal.ibabs.eu

IBABS_SITE=
IBABS_EMAIL=
IBABS_PASSWORD=
IBABS_SESSION_COOKIE=
